[Unit]
Description=Start QUAL simulators

[Service]
Type=idle
ExecStart=/thales/host/appliances/qual-sims
RemainAfterExit=yes
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
