[Unit]
Description=Start QUAL simulators
Before=HDDS.service

[Service]
Type=oneshot
ExecStart=/thales/host/appliances/qual-sims
RemainAfterExit=yes
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
