[Unit]
Description=Starts Guest-VM for IFE communication
After=network.target libvirtd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/thales/host/appliances/qual-startvm
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
