[Unit]
Description=Start QUAL simulators

[Service]
Type=idle
ExecStart=/bin/qual-vm.sh
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
