# this file adds symlinks to USB devices needed by MPS services.
# Thus it allows forcing proper order of service startup (ie, after the device is enumerated)

# quickfilter: parse only adding USB devices
ACTION!="add", GOTO="mps_usb_symlinks_end"
SUBSYSTEM!="usb", GOTO="mps_usb_symlinks_end"
ENV{DEVNAME}!="/dev/bus/usb/*/*", GOTO="mps_usb_symlinks_end"

# SKYLAKE
DEVPATH=="*/usb1/1-8", TAG+="systemd", SYMLINK+="mps/usb-ft4232-arinc"
# 1-6: front panel USB: no symlink needed
DEVPATH=="*/usb1/1-1", TAG+="systemd", SYMLINK+="mps/usb-mcp2221-main"
DEVPATH=="*/usb1/1-2", TAG+="systemd", SYMLINK+="mps/usb-ft4232-ife"
DEVPATH=="*/usb1/1-5", TAG+="systemd", SYMLINK+="mps/usb-ft4232-gpio"
DEVPATH=="*/usb1/1-3", TAG+="systemd", SYMLINK+="mps/usb-mk60-ife"
DEVPATH=="*/usb1/1-7", TAG+="systemd", SYMLINK+="mps/usb-mcp2221-ife"

# Exit
LABEL="mps_usb_symlinks_end"

