[Unit]
Description=MPS Service to load and unload CPU Ethernet (to reset the card)
Wants=local-fs.target
After=basic.target local-fs.target
Before=qual-startvm.service

[Service]
Type=oneshot
RemainAfterExit=True
ExecStart=/bin/sh -c '/sbin/modprobe e1000e; /sbin/rmmod e1000e'

[Install]
WantedBy=multi-user.target
