[Unit]
Description=Host Network Management Service
Wants=local-fs.target
After=local-fs.target network.target

[Service]
Type=notify
ExecStart=__THALES_BIN_DIR__/HNMS
Restart=on-failure
RestartSec=10s
RestartPreventExitStatus=127

[Install]
WantedBy=mps-services.target