[Unit]
Description=Host Network Management Service

[Service]
Type=notify
ExecStart=__THALES_BIN_DIR__/HNMS
Restart=on-failure
RestartSec=10s
RestartPreventExitStatus=127

[Install]
WantedBy=mps-services.target